@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --bg-color: #46403a;
    --container-color: #837d6e;
    --button-color: #009379;
}

body {
    background-color: #f8f9ff;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/*------------------- HEADER ---------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    padding: 20px;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header nav {
    display: flex;
    gap: 20px;
}

.title {
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title strong {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.contact {
    background-color: #e5f4f2;
    box-shadow: 0px 5px 8px #0000008a;
    color: var(--button-color);
    width: 202px;
    height: 60px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    text-decoration: none;
}

.GetStandart {
    box-shadow: 0px 5px 8px #0000008a;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 60px;
    text-decoration: none;
    background-color: var(--button-color);
    border-radius: 20px;
    color: white;
}

/*------------------- SECTION main ---------------------------*/

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*------------------- SECTION pagInt ---------------------------*/

img {
    margin-right: 10px;
}

.pagInt strong {
    color: #3d98f3;
}

.pagInt {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;

    box-shadow: 0px 8px 8px 0px #0000002a;
    margin-bottom: 60px;
}

.intButton {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.intInfo h1 {
    width: 648px;
    font-size: 85px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.intInfo p {
    font-size: 20px;
    width: 648px;
    margin-top: 20px;
}

.intGet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 60px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background-color: var(--button-color);
}

.getHow {
    background-color: white;
    border: 1px solid green;
    color: green;
    width: 202px;
    height: 60px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    text-decoration: none;
}

/*------------------- SECTION logoBar ---------------------------*/

.logBar {
    display: grid;
    place-items: center;
}

.logoList {
    display: flex;
    width: 1170px;
    align-items: center;
    justify-content: center;
    gap: 126px;
    list-style: none;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 61px;
}

/*------------------- SECTION features ---------------------------*/

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    gap: 60px;
}

#features h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
}

.card {
    display: flex;
    gap: 20px;
}

.childrenCard {
    background-color: #ffffff;
    border-radius: 20px;
    width: 370px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 9px 8px 20px 20px #00000017;
}

.childrenCard h3{
    font-size: 25px;
}

.childrenCard p {
    text-align: center;
    width: 310px;
}

.childrenCard a {
    color: #009379;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/*------------------- SECTION Metrics ---------------------------*/

#metrics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

#metrics h2{
    font-size: 30px;
}

.metricsChildren{
    display: flex;
    gap: 20px;
}

.cardmetrics{
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 9px 8px 20px 20px #00000017;
    border-bottom: 2px solid orange;
    width: 270px;
    height: 171px;
}

.cardmetrics span{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 30px;
}